<div class="create-poll-container">
  <h2>Create New Poll</h2>

  <form (ngSubmit)="onSubmit()" #pollForm="ngForm">
    
    <!-- Title -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Poll Title</mat-label>
      <input matInput [(ngModel)]="newVotingCard.title" name="title" required #title="ngModel">
      <mat-error *ngIf="title.invalid && title.touched">Poll Title is required</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="newVotingCard.description" name="description" required #description="ngModel">
      <mat-error *ngIf="description.invalid && description.touched">Description is required</mat-error>
    </mat-form-field>

    <!-- Poll Type -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Poll Type</mat-label>
      <mat-select [(ngModel)]="newVotingCard.type" name="type" required #type="ngModel">
        <mat-option [value]="2">3</mat-option>
      </mat-select>
      <mat-error *ngIf="type.invalid && type.touched">Poll Type is required</mat-error>
    </mat-form-field>

    <!-- Poll Duration -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Poll Duration (in days)</mat-label>
      <input matInput [matDatepicker]="picker" name="activeUntil" [(ngModel)]="newVotingCard.activeUntil">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Poll Options -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Poll Options (comma-separated)</mat-label>
      <input matInput [(ngModel)]="options" name="options" required>

    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="pollForm.invalid">
      Create Poll
    </button>
  </form>
</div>
