<mat-card class="voting-card">
  <div class="grid-layout">
    <img [src]="(votingCard.type | votingTypeImage)" alt="Voting Image" class="voting-image" />
    <div class="text-content">
      <h3 class="voting-title">{{ votingCard.title }}</h3>
      <p class="voting-description">{{ descBeginning }}</p>
    </div>
  </div>
  <hr class="card-divider" />

  <div class="vote-options">
    <div *ngFor="let option of topOptions" class="option">
      <mat-card class="option-card">
        <span class="option-text">{{ option.option }}</span>
        <span class="vote-count">{{ option.votes }} votes</span>
      </mat-card>
    </div>
  </div>

  <button class="vote-button" mat-raised-button color="primary" [routerLink]="['/poll', votingCard.id]">
    <span *ngIf="votingCard.activeUntil | votingActive">Vote now</span>
    <span *ngIf="!(votingCard.activeUntil | votingActive)">See results</span>
  </button>
</mat-card>
