.sidenav-container {
  display: flex;
  height: 92vh;
  position: relative;
}

.sidenav {
  width: 280px;
  background-color: #e91e63;
  color: white;
  padding: 1rem;
  flex-shrink: 0; /* Prevent shrinking */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

#logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fef6f9;
  color: #4a154b;
}

.toolbar {
  background: #e91e63;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 8vh;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toolbar button {
  margin-right: 16px;
}

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  cursor: pointer;
}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

